@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Scenarion A</h2><br />
        <h2>Total: @ViewData["ScenarioA"]</h2>
    </div>
    <div class="col-md-4">
        <h2>Scenarion B</h2><br />
        <h2>Total: @ViewData["ScenarioB"]</h2>
    </div>
    <div class="col-md-4">
        <h2>Scenarion C</h2><br />
        <h2>Total: @ViewData["ScenarioC"]</h2>
    </div>
</div>
